.ui-widget-content {
    border: none;
}

.ui-menu ui-menubar ui-megamenu ui-widget ui-widget-content ui-corner-all ui-helper-clearfix {
    text-align: start;

}

.ui-button, button.ui-button.ui-state-default, .ui-button.ui-state-default {
    border: none;
    color: black;
    background: white;
}

.barraMenu {
    right: 300px;

}