* {
    font-family: Verdana;
}

.ui-widget-content {
    border: none;
}

.barraMenu {
    right: 300px;

}

.endereco input, .campos input, .ui-selectonemenu.ui-selectonemenu {
    width: 100%;
}

.logo {
    text-align: center;
}

.corpo{
    padding: 30px;
}
